* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

button {
    width: 100px;
    height: 40px;
    background-color: #F7CE68;
    color: black;
    font-weight: 600;
    font-family: cursive;
    outline: none;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

button:hover {
    border: 2px solid white;
    background-color: coral;
    color: white;
}

h1 {
    margin: auto;
    font-family: cursive;
}

.main {
    display: grid;
    margin: auto;
    & .show {
        margin: auto;
    }
}

.show {
    display: grid;
    grid-template-columns: auto;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 350px;
}

.container {
    border: 3px solid orange;
    color: black;
    font-family: monospace;
    font-weight: 700;
    width: 400px;
    margin: 15px;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.container:hover {
    position: relative;
    width: 450px;
    height: 300px;
    margin: auto;
    padding: 32px;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    line-height: 24px;
    border: 4px solid #e96b22;
}

@media only screen and (min-width: 320px) {
    .container {
        width: 300px;
        margin: 5px;
        &:hover {
            width: 310px;
            height: 255px;
            padding: 5px;
        }
    }
    .show {
        width: 310px;
        margin: 2px;
    }
}